<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather Widget</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <div class="weather-card"
            style="background-color: grey"
        >
            <div class="row-container">
                    <h1 class="big-heading">Error <%=errcode%></h1>
            </div>
        </div>

        <script type="text/javascript" src="./index.js"></script>
    </body>
</html>